@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
    font-family: 'Roboto', 'Helvatica' !important;
    background-color: #eee;
}

.color-black{
    color: rgba(0,0,0,.87);
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}


/* app loader */

.app-loader {
    position: absolute;
    width: 100%;
    top: calc(50% - 100px);
    left: 0;
}

.app-loader .mdl-spinner {
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto;
}

.app-loader .text {
    padding-top: 16px;
    text-align: center;
    font-size: 24px;
    color: rgba(0, 0, 0, .57);
    animation: app-loader-text-animation 2000ms linear infinite;
}

@keyframes app-loader-text-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 720px) {
    .hide-tel {
        display: none !important;
    }
}

@media (min-width: 720px) {
    .show-tel {
        display: none !important;
    }
}

.mdl-layout__drawer-button {
    outline: none;
    outline-offset: none;
}


/* Overflow */

.overflow-visible {
    overflow: visible;
}


/* main background */

.main-background {
    background-image: url('../img/main-background.png');
    background-position: center 0px;
    background-repeat: no-repeat;
}


/* appear page */

.appear-page {
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-name: appear-page;
    opacity: 1;
}

@keyframes appear-page {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* product area */

.mrs-center {
    display: block;
    margin: 0 auto;
}

.product-area {
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-name: appear-page;
    opacity: 1;
}

.product-area.hidden {
    animation: none;
}

.mdl-pull--right {
    display: block;
    float: right;
}

.mdl-data-table td,
.mdl-data-table th {
    text-align: left;
}

td>p {
    margin-bottom: 0px;
}

.shop-product-grid {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 960px) {
    .shop-product-grid {
        width: 100% !important;
    }
}

.mdl-textfield--fullwidth {
    width: 100% !important;
}

main-window .page-content .mdl-grid:first-of-type {
    padding-top: 16px;
}

main-window .mdl-layout__container {
    position: relative;
}

main-window .mdl-layout__header {
    height: 128px;
    margin: 0px;
    padding: 0px;
    display: flex !important;
}

main-window .mdl-layout__header .mdl-layout__header-row:first-child {
    height: 80px;
    margin: 0px;
    padding: 0px;
    z-index: 10;
}

main-window .mdl-layout__header .mdl-layout__header-row:first-child .mdl-container {
    height: 80px;
    align-content: center;
    align-items: center;
}

main-window .mdl-layout__header .mdl-layout__header-row:first-child .mdl-container nav {
    height: 100%;
}

main-window .mdl-layout__header .mdl-layout__header-row:first-child .mdl-container nav a {
    height: calc(100% - 8px);
}

main-window .logo-image {
    height: 48px;
    padding-left: 8px;
    cursor: pointer;
}

main-window header nav a {
    padding: 8px 24px 0px 24px !important;
    color: rgba(0, 0, 0, 54) !important;
}

main-window header nav {
    margin-left: 65px !important;
}

main-window .mdl-layout__drawer-button {
    color: #1a2e35 !important;
    margin: 16px !important;
}

@media screen and (max-width: 960px) {
    main-window .logo-image {
        position: absolute;
        left: calc(50% - 119px);
        top: 16px;
        padding-left: 0px;
    }
    main-window .header-second {
        display: none !important;
    }
    main-window .mdl-layout__header {
        height: 80px;
    }
}

main-window .header-second {
    height: 48px;
    width: 100%;
    padding: 0 !important;
}

main-window .header-second .mdl-container {
    height: 100%;
}

main-window .header-second ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-left: 8px;
}

main-window .header-second ul>li {
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, .24);
    height: 48px;
    padding: 0 24px 0 60px;
    text-align: center;
    line-height: 48px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, .87);
    margin-right: -4px;
}

main-window .header-second ul>li:first-of-type {
    border-left: 1px solid rgba(0, 0, 0, .24);
}

main-window .header-second ul>li>i {
    position: absolute;
    top: 12px;
    left: 24px;
}

main-window .header-second ul>li>img {
    position: absolute;
    top: 12px;
    left: 24px;
    width: 24x;
    height: 24px;
}

main-window .header-second ul>li>div {
    display: inline-block;
}

main-window .header-second.fixed {
    position: fixed;
    left: 0px;
    top: 0px;
}

main-window .header-tel {
    padding: 0px 24px;
    line-height: 16px;
    font-size: 16px;
}

main-window .header-tel-ico {
    display: none;
    margin-top: 6px;
}

main-window .header-search {
    max-width: 256px;
}

@media screen and (max-width: 1200px) {
    main-window .header-tel-ico {
        display: block;
    }
    main-window .header-tel {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    main-window .header-search {
        display: none;
    }
    main-window .header-tel-ico {
        display: none;
    }
}

main-window .header-search input,
main-window .header-search label {
    width: calc(100% - 32px);
}

main-window .header-search button {
    position: absolute;
    right: 0;
    top: 20px;
}

.mdl-container {
    max-width: 1264px;
    width: calc(100% - 16px);
    margin: 0 auto !important;
    padding: 0 8px;
    display: flex;
}

@media screen and (max-width: 500px) {
    .mdl-container {
        width: auto;
    }
}

main-window .page-content {
    min-height: 100vh;
}

.call-fab {
    position: fixed;
    right: 16px;
    bottom: 24px;
    z-index: 1000;
}

a.mdl-js-button.mdl-js-ripple-effect {
    position: relative;
}

li.mdl-js-button.mdl-js-ripple-effect {
    position: relative;
}

product-filter .filter-row {
    margin: 8px;
    box-sizing: border-box;
}

product-filter .filter-row>div {
    width: 100%;
}

product-filter .filter-row>div>span {
    display: inline-block;
}

product-filter .filter-row>div>button {
    display: inline-block;
    float: right;
}

product-filter .filter-label {
    margin-bottom: 0px;
}

product-filter .filter-input {
    margin-top: 0px;
}


/* Material select */


/* product card */



.top-loading {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}

.product-list {
    display: inline-block;
    height: 160px;
    min-height: 10px;
}

.product-list .product-image {
    display: inline-block;
    height: 128px;
    width: 128px;
    padding: 16px;
}

.product-list .product-description {
    display: block;
    float: right;
    width: calc(100% - 192px);
    height: 100%;
    position: relative;
    padding: 8px;
}


/* slider modification */

.mrmc-container .image-card {
    background-image: url('../img/slider_down_card_back.png');
}

.mrmc-container .text-card {
    background-image: url('../img/slider_up_card_back.png');
    background-position: center -4px;
    background-repeat: no-repeat;
    background-size: inherit;
}

.mrmc-container .text-card .mdl-card__title {
    height: 80px;
    padding: 24px;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}

.mrmc-container .text-card .mdl-card__title>h2 {
    display: block;
    text-align: center;
    width: 100%;
    height: 32px;
}


/* end slider modification */

del>.woocommerce-Price-amount.amount,
ins>.woocommerce-Price-amount.amount {
    display: block;
    font-size: 20px;
}

.price ins {
    text-decoration: none;
}

.price del {
    color: red;
    text-decoration: line-through;
}

del>.woocommerce-Price-amount.amount {
    color: rgba(0, 0, 0, .57);
    font-size: 16px;
}


/* home */


/* lead forms */

#home-lead-form {
    min-height: 0px;
}

#home-lead-form:not(.active) {
    opacity: 0;
    height: 0px;
}

#home-lead-form div.title {
    font-size: 20px;
    padding-top: 12px;
    font-weight: 400;
}

#home-lead-form .mdl-textfield {
    width: 100%;
}

#home-lead-form button {
    display: block;
    width: calc(100% - 16px);
    margin-left: 8px;
}

#home-lead-form-2 .mdl-card {
    min-height: 0px;
    padding: 8px;
}

#home-lead-form-2 table {
    width: 100%;
}

#home-lead-form-2 table tr {
    vertical-align: middle;
}

#home-lead-form-2 tr td {
    padding: 8px;
}

#home-lead-form-2 button {
    display: block;
    width: 50%;
    margin: 0 auto;
}

#home-lead-form-2 .title {
    text-align: center;
    font-size: 24px;
}

#home-lead-form-2 .mdl-textfield {
    width: 100%;
    display: block;
}

#home-lead-form-2 textarea {
    resize: none;
}


/* end lead forms */

.product-cards-grid.vertical del {
    font-size: 16px;
    font-weight: 400;
}

.product-cards-grid.vertical ins,
.product-cards-grid.vertical .product-card .text .price>span {
    padding-top: 8px;
    font-size: 20px;
    font-weight: 400;
}

/* select material */

select-material .mdl-menu__container,
select-material .mdl-menu__outline {
    width: 100%;
}

/* footer */

.mr-footer{
    margin-top: 16px;
}

@media(min-width: 1024px){

    .mr-footer .mdl-mega-footer__middle-section{
        max-width: 800px;
        margin: 0 auto;        
    }

    .mr-footer .mdl-mega-footer__drop-down-section{
        width: 20%;
        text-align: left;
    }

    .mr-footer .mdl-mega-footer__drop-down-section li, .mr-footer .mdl-mega-footer__drop-down-section a{
        font-size: 16px !important;
        line-height: 1.5em
    }

    .mr-footer .mdl-mega-footer__drop-down-section:nth-child(2){
        margin-left: 20%;
        margin-right: 20%;
    }

    .mr-footer .mdl-mega-footer__heading{
        padding-right: 0;
        font-size: 16px !important;
    }

}

