@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
    font-family: 'Roboto', 'Helvatica' !important;
    background-color: #eee;
}


/* Overflow */

.overflow-visible {
    overflow: visible;
}


/* main background */

.main-background {
    background-image: url('../img/main-background.png');
    background-position: center 0px;
    background-repeat: no-repeat;
}


/* appear page */

.appear-page {
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-name: appear-page;
    opacity: 1;
}

@keyframes appear-page {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* product area */

.mrs-center {
    display: block;
    margin: 0 auto;
}

.product-area {
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-name: appear-page;
    opacity: 1;
}

.product-area.hidden {
    animation: none;
}

.mdl-pull--right {
    display: block;
    float: right;
}

.mdl-data-table td,
.mdl-data-table th {
    text-align: left;
}

td>p {
    margin-bottom: 0px;
}

.shop-product-grid {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 960px) {
    .shop-product-grid {
        width: auto !important;
    }
}

.mdl-textfield--fullwidth {
    width: 100% !important;
}

main-window .page-content .mdl-grid:first-of-type {
    padding-top: 16px;
}

main-window .mdl-layout__container {
    position: relative;
}

main-window .mdl-layout__header {
    height: 128px;
    margin: 0px;
    padding: 0px;
    display: flex !important;
}

main-window .mdl-layout__header .mdl-layout__header-row:first-child {
    height: 80px;
    margin: 0px;
    padding: 0px;
    z-index: 10;
}

main-window .mdl-layout__header .mdl-layout__header-row:first-child .mdl-container {
    height: 80px;
    align-content: center;
    align-items: center;
}

main-window .mdl-layout__header .mdl-layout__header-row:first-child .mdl-container nav {
    height: 100%;
}

main-window .mdl-layout__header .mdl-layout__header-row:first-child .mdl-container nav a {
    height: calc(100% - 8px);
}

main-window .logo-image {
    height: 48px;
    padding-left: 8px;
    cursor: pointer;
}

main-window header nav a {
    padding: 8px 24px 0px 24px !important;
    color: rgba(0, 0, 0, 54) !important;
}

main-window header nav {
    margin-left: 65px !important;
}

main-window .mdl-layout__drawer-button {
    color: #1a2e35 !important;
    margin: 16px !important;
}

@media screen and (max-width: 960px) {
    main-window .logo-image {
        position: absolute;
        left: calc(50% - 119px);
        top: 16px;
        padding-left: 0px;
    }
    main-window .header-second {
        display: none !important;
    }
    main-window .mdl-layout__header {
        height: 80px;
    }
}

main-window .header-second {
    height: 48px;
    width: 100%;
    padding: 0 !important;
}

main-window .header-second .mdl-container {
    height: 100%;
}

main-window .header-second ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-left: 8px;
}

main-window .header-second ul>li {
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, .24);
    height: 48px;
    padding: 0 24px 0 60px;
    text-align: center;
    line-height: 48px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, .87);
    margin-right: -4px;
}

main-window .header-second ul>li:first-of-type {
    border-left: 1px solid rgba(0, 0, 0, .24);
}

main-window .header-second ul>li>i {
    position: absolute;
    top: 12px;
    left: 24px;
}

main-window .header-second ul>li>img {
    position: absolute;
    top: 12px;
    left: 24px;
    width: 24x;
    height: 24px;
}

main-window .header-second ul>li>div {
    display: inline-block;
}

main-window .header-second.fixed {
    position: fixed;
    left: 0px;
    top: 0px;
}

main-window .header-tel {
    padding: 0px 24px;
    line-height: 16px;
    font-size: 16px;
}

main-window .header-tel-ico {
    display: none;
    margin-top: 6px;
}

main-window .header-search {
    max-width: 256px;
}

@media screen and (max-width: 1200px) {
    main-window .header-tel-ico {
        display: block;
    }
    main-window .header-tel {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    main-window .header-search {
        display: none;
    }
    main-window .header-tel-ico {
        display: none;
    }
}

main-window .header-search input,
main-window .header-search label {
    width: calc(100% - 32px);
}

main-window .header-search button {
    position: absolute;
    right: 0;
    top: 20px;
}

.mdl-container {
    max-width: 1264px;
    width: calc(100% - 16px);
    margin: 0 auto !important;
    padding: 0 8px;
    display: flex;
}

@media screen and (max-width: 500px) {
    .mdl-container {
        width: auto;
    }
}

main-window .page-content {
    min-height: 300vh;
}

.call-fab {
    position: fixed;
    right: 16px;
    bottom: 24px;
    z-index: 1000;
}

a.mdl-js-button.mdl-js-ripple-effect {
    position: relative;
}

li.mdl-js-button.mdl-js-ripple-effect {
    position: relative;
}

product-filter .filter-row {
    margin: 8px;
    box-sizing: border-box;
}

product-filter .filter-row>div {
    width: 100%;
}

product-filter .filter-row>div>span {
    display: inline-block;
}

product-filter .filter-row>div>button {
    display: inline-block;
    float: right;
}

product-filter .filter-label {
    margin-bottom: 0px;
}

product-filter .filter-input {
    margin-top: 0px;
}


/* Material select */

.material-select>i {
    position: absolute;
    top: 24px;
    right: 0px;
    z-index: -1;
}

.material-select div.mdl-menu__container,
.material-select div.mdl-menu__outline,
.material-select ul,
.material-select li {
    width: 100% !important;
}


/* product card */

.product-card {
    /* height: 260px; */
}

.top-loading {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}

.product-list {
    display: inline-block;
    height: 160px;
    min-height: 10px;
}

.product-list .product-image {
    display: inline-block;
    height: 128px;
    width: 128px;
    padding: 16px;
}

.product-list .product-description {
    display: block;
    float: right;
    width: calc(100% - 192px);
    height: 100%;
    position: relative;
    padding: 8px;
}


/* slider modification */

.mrmc-container .image-card {
    background-image: url('../img/slider_down_card_back.png');
}

.mrmc-container .text-card {
    background-image: url('../img/slider_up_card_back.png');
    background-position: center -4px;
    background-repeat: no-repeat;
    background-size: inherit;
}

.mrmc-container .text-card .mdl-card__title {
    height: 80px;
}

.mrmc-container .text-card .mdl-card__title>h2 {
    display: block;
    text-align: center;
    width: 100%;
    height: 32px;
}

.mrmc-container .text-card .mdl-card__supporting-text {
    padding-top: 56px;
}


/* end slider modification */